In [1]:
import selenium
import pandas as pd
import time

from selenium import webdriver

from selenium.common.exceptions import StaleElementReferenceException,NoSuchElementException

import re
from selenium.webdriver.common.by import By

import warnings
warnings.filterwarnings('ignore')

In [40]:
#connecting to driver
driver=webdriver.Chrome(r"D:\softwares\chromedriver_win32\chromedriver.exe")

#maximizing browser window
driver.maximize_window()

In [3]:
#opening cars24.com website
url='https://www.cars24.com/'
driver.get(url)
time.sleep(5)

In [5]:
#selecting location
manual_loc=driver.find_element(By.XPATH,'/html/body/div[1]/div[8]/div/div/div/div[2]/div[2]/button')
manual_loc.click()

In [6]:
del_loc=driver.find_element(By.XPATH,'/html/body/div[1]/div[8]/div/div/div/div/div[2]/ul/li[1]')
del_loc.click()

In [7]:
#selecting all cars option
all_cars_opt=driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/div/div[2]/div/div[2]/button[1]')
all_cars_opt.click()

In [18]:
brand=[]
model=[]
year=[]
try:
    description=driver.find_elements(By.XPATH,'//h3[@class="_3FpCg"]')
    for i in description:
        brand.append(i.text.split()[1])
        year.append(i.text.split()[0])
        model.append(i.text.split()[2:])
except NoSuchElementException:
    brand.append('-')

In [20]:
print(len(brand))
print(len(model))
print(len(year))

1000
1000
1000

In [32]:
transmission=[]
try:
    description=driver.find_elements(By.XPATH,'//p[@class="cvakB"]/span[1]')
    for i in description:
        transmission.append(i.text)
        
except NoSuchElementException:
    transmission.append('-')

In [34]:
print(len(transmission))

1000

In [35]:
km=[]

try:
    description=driver.find_elements(By.XPATH,'//ul[@class="bVR0c"]/li[1]')
    for i in description:
        km.append(i.text)
            
except NoSuchElementException:
    km.append('-')

In [41]:
print(len(km))

1000

In [37]:
owner=[]
try:
    description=driver.find_elements(By.XPATH,'//ul[@class="bVR0c"]/li[2]')
    for i in description:
        owner.append(i.text)
            
except NoSuchElementException:
    owner.append('-')

In [42]:
print(len(owner))

1000

In [39]:
fuel=[]
try:
    description=driver.find_elements(By.XPATH,'//ul[@class="bVR0c"]/li[3]')
    for i in description:
        fuel.append(i.text)
            
except NoSuchElementException:
    fuel.append('-')

In [43]:
print(len(fuel))

1000

In [44]:
price=[]
try:
    description=driver.find_elements(By.XPATH,'//div[@class="_7udZZ"]')
    for i in description:
        price.append(i.text)
            
except NoSuchElementException:
    price.append('-')

In [46]:
print(len(price))

1000

In [47]:
location=[]
try:
    description=driver.find_elements(By.XPATH,'//ul[@class="_3oLON"]/li[3]')
    for i in description:
        location.append(i.text)
            
except NoSuchElementException:
    location.append('-')

In [49]:
print(location)
del_location=location*1000
len(del_location)

['New Delhi']

1000

In [50]:
delhi_data=pd.DataFrame({'brand':brand,'model':model,'year':year,'transmission':transmission,'kms_driven':km,
                        'owner':owner,'fuel_type':fuel,'price':price,'location':del_location})
delhi_data

,brand,model,year,transmission,kms_driven,owner,fuel_type,price,location
0,Maruti,[Swift],2020,Manual,"22,826 km",1st Owner,Petrol,"₹5,22,000",New Delhi
1,KIA,[SELTOS],2020,Manual,"5,999 km",1st Owner,Petrol,"₹17,22,000",New Delhi
2,Maruti,[Swift],2020,Manual,"16,691 km",2nd Owner,Petrol,"₹5,30,000",New Delhi
3,KIA,[SELTOS],2020,Automatic,"9,417 km",1st Owner,Petrol,"₹16,81,000",New Delhi
4,Hyundai,"[Grand, i10]",2019,Manual,"19,964 km",1st Owner,Petrol,"₹5,03,000",New Delhi
...,...,...,...,...,...,...,...,...,...
995,Hyundai,"[i20, Active]",2015,Manual,"43,051 km",2nd Owner,Petrol,"₹5,49,000",New Delhi
996,Maruti,"[Vitara, Brezza]",2018,Manual,"40,579 km",2nd Owner,Diesel,"₹7,50,000",New Delhi
997,Maruti,"[Vitara, Brezza]",2018,,"24,172 km",1st Owner,Diesel,"₹7,23,000",New Delhi
998,Maruti,"[Vitara, Brezza]",2019,Manual,"39,696 km",1st Owner,Diesel,"₹7,92,000",New Delhi
999,Ford,[Ecosport],2017,Manual,"27,117 km",1st Owner,Diesel,"₹7,07,000",New Delhi

In [51]:
delhi_data.to_csv('delhi_cars')

# Changing location to Mumbai and scraping data.

In [52]:

#clicking on drop down menu
mum_loc=driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/header/div/div[1]/div[2]/p')
mum_loc.click()

In [53]:
#selecting mumbai location
mumb_loc=driver.find_element(By.XPATH,'/html/body/div[1]/div[6]/div/div/div/div/div[2]/ul/li[2]')
mumb_loc.click()

In [64]:
brand_m=[]
model_m=[]
year_m=[]
transmission_m=[]
km_m=[]
owner_m=[]
fuel_m=[]
price_m=[]



try:
    description=driver.find_elements(By.XPATH,'//h3[@class="_3FpCg"]')
    for i in description:
        brand_m.append(i.text.split()[1])
        year_m.append(i.text.split()[0])
        model_m.append(i.text.split()[2:])
except NoSuchElementException:
    brand_m.append('-')


try:
    description=driver.find_elements(By.XPATH,'//p[@class="cvakB"]/span[1]')
    for i in description:
        transmission_m.append(i.text)
        
except NoSuchElementException:
    transmission_m.append('-')


try:
    description=driver.find_elements(By.XPATH,'//ul[@class="bVR0c"]/li[1]')
    for i in description:
        km_m.append(i.text)
            
except NoSuchElementException:
    km_m.append('-')    
    

try:
    description=driver.find_elements(By.XPATH,'//ul[@class="bVR0c"]/li[2]')
    for i in description:
        owner_m.append(i.text)
            
except NoSuchElementException:
    owner_m.append('-')


try:
    description=driver.find_elements(By.XPATH,'//ul[@class="bVR0c"]/li[3]')
    for i in description:
        fuel_m.append(i.text)
            
except NoSuchElementException:
    fuel_m.append('-')  
    

try:
    description=driver.find_elements(By.XPATH,'//div[@class="_7udZZ"]')
    for i in description:
        price_m.append(i.text)
            
except NoSuchElementException:
    price_m.append('-')

In [65]:
print(len(brand_m))
print(len(model_m))
print(len(year_m))
print(len(transmission_m))
print(len(km_m))
print(len(owner_m))
print(len(fuel_m))
print(len(price_m))

650
650
650
650
650
650
650
650

In [67]:
location_m=[]
try:
    description=driver.find_elements(By.XPATH,'//ul[@class="_3oLON"]/li[3]')
    for i in description:
        location_m.append(i.text)
            
except NoSuchElementException:
    location_m.append('-')

In [68]:
mum_location=location_m*650
len(mum_location)

650

In [69]:
mumbai_data=pd.DataFrame({'brand':brand_m,'model':model_m,'year':year_m,'transmission':transmission_m,'kms_driven':km_m,
                        'owner':owner_m,'fuel_type':fuel_m,'price':price_m,'location':mum_location})
mumbai_data

,brand,model,year,transmission,kms_driven,owner,fuel_type,price,location
0,Renault,[Pulse],2012,Manual,"67,241 km",2nd Owner,Diesel,"₹2,32,000",Mumbai
1,Maruti,"[Wagon, R, 1.0]",2017,Manual,"87,260 km",1st Owner,CNG,"₹3,72,000",Mumbai
2,Ford,[FREESTYLE],2019,Manual,"15,687 km",1st Owner,Petrol,"₹5,34,000",Mumbai
3,Ford,[Ecosport],2016,Manual,"46,122 km",2nd Owner,Petrol,"₹5,37,000",Mumbai
4,Hyundai,[i20],2014,Manual,"71,429 km",1st Owner,Petrol,"₹3,64,000",Mumbai
...,...,...,...,...,...,...,...,...,...
645,Maruti,[Swift],2017,Manual,"53,005 km",1st Owner,Petrol,"₹4,93,000",Mumbai
646,Hyundai,[ALCAZAR],2021,,"20,787 km",1st Owner,Diesel,"₹17,25,000",Mumbai
647,Maruti,[Swift],2013,Manual,"50,702 km",2nd Owner,Petrol,"₹3,49,000",Mumbai
648,Maruti,"[Wagon, R, 1.0]",2013,Manual,"72,289 km",3rd Owner,CNG,"₹3,00,000",Mumbai
649,Skoda,[Rapid],2016,Manual,"17,361 km",1st Owner,Petrol,"₹5,91,000",Mumbai

In [70]:
mumbai_data.to_csv('mumbai_cars')

# Changing location to Bangalore and scraping data.

In [71]:
#clicking on drop down menu
ban_loc=driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/header/div/div[1]/div[2]/p')
ban_loc.click()

In [72]:
#selecting mumbai location
ban_loc=driver.find_element(By.XPATH,'/html/body/div[1]/div[6]/div/div/div/div/div[2]/ul/li[3]')
ban_loc.click()

In [73]:
brand_b=[]
model_b=[]
year_b=[]
transmission_b=[]
km_b=[]
owner_b=[]
fuel_b=[]
price_b=[]



try:
    description=driver.find_elements(By.XPATH,'//h3[@class="_3FpCg"]')
    for i in description:
        brand_b.append(i.text.split()[1])
        year_b.append(i.text.split()[0])
        model_b.append(i.text.split()[2:])
except NoSuchElementException:
    brand_b.append('-')


try:
    description=driver.find_elements(By.XPATH,'//p[@class="cvakB"]/span[1]')
    for i in description:
        transmission_b.append(i.text)
        
except NoSuchElementException:
    transmission_b.append('-')


try:
    description=driver.find_elements(By.XPATH,'//ul[@class="bVR0c"]/li[1]')
    for i in description:
        km_b.append(i.text)
            
except NoSuchElementException:
    km_b.append('-')    
    

try:
    description=driver.find_elements(By.XPATH,'//ul[@class="bVR0c"]/li[2]')
    for i in description:
        owner_b.append(i.text)
            
except NoSuchElementException:
    owner_b.append('-')


try:
    description=driver.find_elements(By.XPATH,'//ul[@class="bVR0c"]/li[3]')
    for i in description:
        fuel_b.append(i.text)
            
except NoSuchElementException:
    fuel_b.append('-')  
    

try:
    description=driver.find_elements(By.XPATH,'//div[@class="_7udZZ"]')
    for i in description:
        price_b.append(i.text)
            
except NoSuchElementException:
    price_b.append('-')

In [74]:
print(len(brand_b))
print(len(model_b))
print(len(year_b))
print(len(transmission_b))
print(len(km_b))
print(len(owner_b))
print(len(fuel_b))
print(len(price_b))

900
900
900
900
900
900
900
900

In [75]:
location_b=[]
try:
    description=driver.find_elements(By.XPATH,'//ul[@class="_3oLON"]/li[3]')
    for i in description:
        location_b.append(i.text)
            
except NoSuchElementException:
    location_b.append('-')

In [77]:
ban_location=location_b*900
len(ban_location)

900

In [78]:
bangalore_data=pd.DataFrame({'brand':brand_b,'model':model_b,'year':year_b,'transmission':transmission_b,'kms_driven':km_b,
                        'owner':owner_b,'fuel_type':fuel_b,'price':price_b,'location':ban_location})
bangalore_data

,brand,model,year,transmission,kms_driven,owner,fuel_type,price,location
0,Toyota,"[Etios, Liva]",2013,Manual,"46,214 km",1st Owner,Petrol,"₹5,16,000",Bangalore
1,Hyundai,[Verna],2014,Automatic,"69,232 km",2nd Owner,Diesel,"₹7,34,000",Bangalore
2,Renault,[Kwid],2021,Manual,"7,998 km",1st Owner,Petrol,"₹5,67,000",Bangalore
3,Volkswagen,[Polo],2011,Manual,"93,764 km",2nd Owner,Petrol,"₹3,82,000",Bangalore
4,Honda,[Civic],2010,Manual,"78,442 km",2nd Owner,Petrol,"₹3,90,000",Bangalore
...,...,...,...,...,...,...,...,...,...
895,KIA,[SONET],2022,,"3,931 km",1st Owner,Diesel,,Bangalore
896,Ford,[Ecosport],2020,Automatic,"14,930 km",1st Owner,Petrol,,Bangalore
897,Tata,[NEXON],2018,Manual,"33,088 km",1st Owner,Diesel,,Bangalore
898,Maruti,"[S, PRESSO]",2022,Manual,"2,480 km",1st Owner,Petrol,"₹5,57,000",Bangalore
899,Hyundai,"[Grand, i10]",2018,Manual,"51,779 km",2nd Owner,Petrol,"₹5,63,000",Bangalore

In [79]:
bangalore_data.to_csv('bangalore_cars')

# changing location to hyderabad and scraping data

In [80]:
#clicking on drop down menu
hyd_loc=driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/header/div/div[1]/div[2]/p')
hyd_loc.click()

In [81]:
#selecting mumbai location
hyd_loc=driver.find_element(By.XPATH,'/html/body/div[1]/div[6]/div/div/div/div/div[2]/ul/li[4]')
hyd_loc.click()

In [82]:
brand_hyd=[]
model_hyd=[]
year_hyd=[]
transmission_hyd=[]
km_hyd=[]
owner_hyd=[]
fuel_hyd=[]
price_hyd=[]



try:
    description=driver.find_elements(By.XPATH,'//h3[@class="_3FpCg"]')
    for i in description:
        brand_hyd.append(i.text.split()[1])
        year_hyd.append(i.text.split()[0])
        model_hyd.append(i.text.split()[2:])
except NoSuchElementException:
    brand_hyd.append('-')


try:
    description=driver.find_elements(By.XPATH,'//p[@class="cvakB"]/span[1]')
    for i in description:
        transmission_hyd.append(i.text)
        
except NoSuchElementException:
    transmission_hyd.append('-')


try:
    description=driver.find_elements(By.XPATH,'//ul[@class="bVR0c"]/li[1]')
    for i in description:
        km_hyd.append(i.text)
            
except NoSuchElementException:
    km_hyd.append('-')    
    

try:
    description=driver.find_elements(By.XPATH,'//ul[@class="bVR0c"]/li[2]')
    for i in description:
        owner_hyd.append(i.text)
            
except NoSuchElementException:
    owner_hyd.append('-')


try:
    description=driver.find_elements(By.XPATH,'//ul[@class="bVR0c"]/li[3]')
    for i in description:
        fuel_hyd.append(i.text)
            
except NoSuchElementException:
    fuel_hyd.append('-')  
    

try:
    description=driver.find_elements(By.XPATH,'//div[@class="_7udZZ"]')
    for i in description:
        price_hyd.append(i.text)
            
except NoSuchElementException:
    price_hyd.append('-')

In [83]:
print(len(brand_hyd))
print(len(model_hyd))
print(len(year_hyd))
print(len(transmission_hyd))
print(len(km_hyd))
print(len(owner_hyd))
print(len(fuel_hyd))
print(len(price_hyd))

545
545
545
545
545
545
545
545

In [84]:
location_hyd=[]
try:
    description=driver.find_elements(By.XPATH,'//ul[@class="_3oLON"]/li[3]')
    for i in description:
        location_hyd.append(i.text)
            
except NoSuchElementException:
    location_hyd.append('-')

In [86]:
hyd_location=location_hyd*545
len(hyd_location)

545

In [88]:
hyd_data=pd.DataFrame({'brand':brand_hyd,'model':model_hyd,'year':year_hyd,'transmission':transmission_hyd,'kms_driven':km_hyd,
                        'owner':owner_hyd,'fuel_type':fuel_hyd,'price':price_hyd,'location':hyd_location})
hyd_data

,brand,model,year,transmission,kms_driven,owner,fuel_type,price,location
0,Renault,[Kwid],2016,Manual,"71,710 km",1st Owner,Petrol,"₹3,04,000",Hyderabad
1,Skoda,[Rapid],2021,Automatic,"39,492 km",1st Owner,Petrol,"₹10,97,000",Hyderabad
2,Hyundai,[Verna],2018,Manual,"66,809 km",1st Owner,Petrol,"₹7,30,000",Hyderabad
3,Hyundai,[i10],2011,,"61,327 km",2nd Owner,Petrol,"₹2,77,000",Hyderabad
4,Toyota,[Etios],2013,Manual,"96,919 km",1st Owner,Diesel,"₹4,08,000",Hyderabad
...,...,...,...,...,...,...,...,...,...
540,Hyundai,[Eon],2017,Manual,0 km,1st Owner,Petrol,"₹2,94,000",Hyderabad
541,Maruti,"[New, Wagon-R]",2021,,"51,781 km",1st Owner,Petrol,"₹5,62,000",Hyderabad
542,Maruti,[Baleno],2015,Manual,"66,645 km",1st Owner,Petrol,"₹5,68,000",Hyderabad
543,Ford,[Ecosport],2015,Manual,"54,425 km",1st Owner,Petrol,"₹6,38,000",Hyderabad
544,Maruti,[Baleno],2019,Automatic,"58,713 km",1st Owner,Petrol,"₹7,84,000",Hyderabad

In [89]:
hyd_data.to_csv('hyderabad_cars')

# changing location to ahmedabad and scraping data¶

In [3]:
#clicking on drop down menu
ahm_loc=driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/header/div/div[1]/div[2]/p')
ahm_loc.click()

In [4]:
ahm_loc=driver.find_element(By.XPATH,'/html/body/div[1]/div[6]/div/div/div/div/div[2]/ul/li[5]')
ahm_loc.click()

In [5]:
brand_ahm=[]
model_ahm=[]
year_ahm=[]
transmission_ahm=[]
km_ahm=[]
owner_ahm=[]
fuel_ahm=[]
price_ahm=[]



try:
    description=driver.find_elements(By.XPATH,'//h3[@class="_3FpCg"]')
    for i in description:
        brand_ahm.append(i.text.split()[1])
        year_ahm.append(i.text.split()[0])
        model_ahm.append(i.text.split()[2:])
except NoSuchElementException:
    brand_ahm.append('-')


try:
    description=driver.find_elements(By.XPATH,'//p[@class="cvakB"]/span[1]')
    for i in description:
        transmission_ahm.append(i.text)
        
except NoSuchElementException:
    transmission_ahm.append('-')


try:
    description=driver.find_elements(By.XPATH,'//ul[@class="bVR0c"]/li[1]')
    for i in description:
        km_ahm.append(i.text)
            
except NoSuchElementException:
    km_ahm.append('-')    
    

try:
    description=driver.find_elements(By.XPATH,'//ul[@class="bVR0c"]/li[2]')
    for i in description:
        owner_ahm.append(i.text)
            
except NoSuchElementException:
    owner_ahm.append('-')


try:
    description=driver.find_elements(By.XPATH,'//ul[@class="bVR0c"]/li[3]')
    for i in description:
        fuel_ahm.append(i.text)
            
except NoSuchElementException:
    fuel_ahm.append('-')  
    

try:
    description=driver.find_elements(By.XPATH,'//div[@class="_7udZZ"]')
    for i in description:
        price_ahm.append(i.text)
            
except NoSuchElementException:
    price_ahm.append('-')

In [6]:
print(len(brand_ahm))
print(len(model_ahm))
print(len(year_ahm))
print(len(transmission_ahm))
print(len(km_ahm))
print(len(owner_ahm))
print(len(fuel_ahm))
print(len(price_ahm))

397
397
397
397
397
397
397
397

In [7]:
location_ahm=[]
try:
    description=driver.find_elements(By.XPATH,'//ul[@class="_3oLON"]/li[3]')
    for i in description:
        location_ahm.append(i.text)
            
except NoSuchElementException:
    location_ahm.append('-')

In [9]:
ahm_location=location_ahm*397
len(ahm_location)

397

In [10]:
ahm_data=pd.DataFrame({'brand':brand_ahm,'model':model_ahm,'year':year_ahm,'transmission':transmission_ahm,'kms_driven':km_ahm,
                        'owner':owner_ahm,'fuel_type':fuel_ahm,'price':price_ahm,'location':ahm_location})
ahm_data

,brand,model,year,transmission,kms_driven,owner,fuel_type,price,location
0,Maruti,"[Alto, 800]",2019,Manual,"11,155 km",1st Owner,Petrol,"₹3,51,000",Ahmedabad
1,Maruti,[Swift],2011,Manual,"53,025 km",1st Owner,Petrol,"₹3,09,000",Ahmedabad
2,Hyundai,"[Elite, i20]",2016,Manual,"26,529 km",1st Owner,Petrol,"₹4,96,000",Ahmedabad
3,Hyundai,[i10],2012,Manual,"37,961 km",1st Owner,Petrol,"₹2,80,000",Ahmedabad
4,Hyundai,[VENUE],2020,,"34,076 km",1st Owner,Petrol,,Ahmedabad
...,...,...,...,...,...,...,...,...,...
392,Honda,[City],2015,Manual,"86,406 km",2nd Owner,Petrol,"₹6,12,000",Ahmedabad
393,Maruti,[Eeco],2021,,"11,281 km",1st Owner,Petrol,"₹5,03,000",Ahmedabad
394,Maruti,[Baleno],2016,Manual,"40,074 km",1st Owner,Petrol,"₹5,35,000",Ahmedabad
395,Maruti,"[Wagon, R, 1.0]",2018,Manual,"17,711 km",1st Owner,CNG,"₹4,52,000",Ahmedabad
396,Maruti,"[Alto, 800]",2016,Manual,"72,678 km",1st Owner,Petrol,"₹2,96,000",Ahmedabad

In [11]:
ahm_data.to_csv('ahmedabad_cars')

# changing location to Gurgaon and scraping data

In [4]:
#clicking on drop down menu
gurg_loc=driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/header/div/div[1]/div[2]/p')
gurg_loc.click()

In [5]:
gurg_loc=driver.find_element(By.XPATH,'/html/body/div[1]/div[6]/div/div/div/div/div[2]/ul/li[6]')
gurg_loc.click()

In [6]:
brand_gurg=[]
model_gurg=[]
year_gurg=[]
transmission_gurg=[]
km_gurg=[]
owner_gurg=[]
fuel_gurg=[]
price_gurg=[]



try:
    description=driver.find_elements(By.XPATH,'//h3[@class="_3FpCg"]')
    for i in description:
        brand_gurg.append(i.text.split()[1])
        year_gurg.append(i.text.split()[0])
        model_gurg.append(i.text.split()[2:])
except NoSuchElementException:
    brand_gurg.append('-')


try:
    description=driver.find_elements(By.XPATH,'//p[@class="cvakB"]/span[1]')
    for i in description:
        transmission_gurg.append(i.text)
        
except NoSuchElementException:
    transmission_gurg.append('-')


try:
    description=driver.find_elements(By.XPATH,'//ul[@class="bVR0c"]/li[1]')
    for i in description:
        km_gurg.append(i.text)
            
except NoSuchElementException:
    km_gurg.append('-')    
    

try:
    description=driver.find_elements(By.XPATH,'//ul[@class="bVR0c"]/li[2]')
    for i in description:
        owner_gurg.append(i.text)
            
except NoSuchElementException:
    owner_gurg.append('-')


try:
    description=driver.find_elements(By.XPATH,'//ul[@class="bVR0c"]/li[3]')
    for i in description:
        fuel_gurg.append(i.text)
            
except NoSuchElementException:
    fuel_gurg.append('-')  
    

try:
    description=driver.find_elements(By.XPATH,'//div[@class="_7udZZ"]')
    for i in description:
        price_gurg.append(i.text)
            
except NoSuchElementException:
    price_gurg.append('-')

In [7]:
print(len(brand_gurg))
print(len(model_gurg))
print(len(year_gurg))
print(len(transmission_gurg))
print(len(km_gurg))
print(len(owner_gurg))
print(len(fuel_gurg))
print(len(price_gurg))

1218
1218
1218
1218
1218
1218
1218
1218

In [8]:
location_gurg=[]
try:
    description=driver.find_elements(By.XPATH,'//ul[@class="_3oLON"]/li[3]')
    for i in description:
        location_gurg.append(i.text)
            
except NoSuchElementException:
    location_gurg.append('-')

In [9]:
gurg_location=location_gurg*1218
len(gurg_location)

1218

In [10]:
gurg_data=pd.DataFrame({'brand':brand_gurg,'model':model_gurg,'year':year_gurg,'transmission':transmission_gurg,'kms_driven':km_gurg,
                        'owner':owner_gurg,'fuel_type':fuel_gurg,'price':price_gurg,'location':gurg_location})
gurg_data

,brand,model,year,transmission,kms_driven,owner,fuel_type,price,location
0,Jeep,[Compass],2019,Automatic,"23,690 km",1st Owner,Petrol,"₹19,23,000",Gurgaon
1,Jeep,[Compass],2019,Manual,"47,040 km",1st Owner,Diesel,"₹17,06,000",Gurgaon
2,Skoda,[Rapid],2020,Manual,"18,953 km",1st Owner,Petrol,"₹8,85,000",Gurgaon
3,Hyundai,[VENUE],2021,Manual,"6,059 km",1st Owner,Petrol,"₹8,74,000",Gurgaon
4,Maruti,[Ritz],2013,Manual,"61,753 km",2nd Owner,Petrol,"₹2,77,000",Gurgaon
...,...,...,...,...,...,...,...,...,...
1213,Honda,[City],2011,Manual,"52,408 km",1st Owner,Petrol,"₹3,16,000",Gurgaon
1214,Maruti,[Swift],2018,,"59,289 km",1st Owner,Diesel,"₹4,68,000",Gurgaon
1215,Maruti,[Ritz],2010,Manual,"44,527 km",1st Owner,Petrol,"₹1,80,000",Gurgaon
1216,Hyundai,"[Grand, i10]",2016,Manual,"24,035 km",1st Owner,Petrol,"₹4,86,000",Gurgaon
1217,Honda,[City],2019,,"25,276 km",1st Owner,Petrol,"₹9,99,000",Gurgaon

In [11]:
gurg_data.to_csv('gurgaon_cars')

# changing location to chennai and scraping data

In [12]:
#clicking on drop down menu
chen_loc=driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/header/div/div[1]/div[2]/p')
chen_loc.click()

In [13]:
chen_loc=driver.find_element(By.XPATH,'/html/body/div[1]/div[6]/div/div/div/div/div[2]/ul/li[7]')
chen_loc.click()

In [14]:
brand_chen=[]
model_chen=[]
year_chen=[]
transmission_chen=[]
km_chen=[]
owner_chen=[]
fuel_chen=[]
price_chen=[]



try:
    description=driver.find_elements(By.XPATH,'//h3[@class="_3FpCg"]')
    for i in description:
        brand_chen.append(i.text.split()[1])
        year_chen.append(i.text.split()[0])
        model_chen.append(i.text.split()[2:])
except NoSuchElementException:
    brand_chen.append('-')


try:
    description=driver.find_elements(By.XPATH,'//p[@class="cvakB"]/span[1]')
    for i in description:
        transmission_chen.append(i.text)
        
except NoSuchElementException:
    transmission_chen.append('-')


try:
    description=driver.find_elements(By.XPATH,'//ul[@class="bVR0c"]/li[1]')
    for i in description:
        km_chen.append(i.text)
            
except NoSuchElementException:
    km_chen.append('-')    
    

try:
    description=driver.find_elements(By.XPATH,'//ul[@class="bVR0c"]/li[2]')
    for i in description:
        owner_chen.append(i.text)
            
except NoSuchElementException:
    owner_chen.append('-')


try:
    description=driver.find_elements(By.XPATH,'//ul[@class="bVR0c"]/li[3]')
    for i in description:
        fuel_chen.append(i.text)
            
except NoSuchElementException:
    fuel_chen.append('-')  
    

try:
    description=driver.find_elements(By.XPATH,'//div[@class="_7udZZ"]')
    for i in description:
        price_chen.append(i.text)
            
except NoSuchElementException:
    price_chen.append('-')

In [15]:
print(len(brand_chen))
print(len(model_chen))
print(len(year_chen))
print(len(transmission_chen))
print(len(km_chen))
print(len(owner_chen))
print(len(fuel_chen))
print(len(price_chen))

470
470
470
470
470
470
470
470

In [16]:
location_chen=[]
try:
    description=driver.find_elements(By.XPATH,'//ul[@class="_3oLON"]/li[3]')
    for i in description:
        location_chen.append(i.text)
            
except NoSuchElementException:
    location_chen.append('-')

In [17]:
chen_location=location_chen*470
len(chen_location)

470

In [18]:
chen_data=pd.DataFrame({'brand':brand_chen,'model':model_chen,'year':year_chen,'transmission':transmission_chen,'kms_driven':km_chen,
                        'owner':owner_chen,'fuel_type':fuel_chen,'price':price_chen,'location':chen_location})
chen_data

,brand,model,year,transmission,kms_driven,owner,fuel_type,price,location
0,Mahindra,[Scorpio],2015,Manual,"39,216 km",2nd Owner,Diesel,"₹10,19,000",Chennai
1,Maruti,[Celerio],2016,Automatic,"47,308 km",2nd Owner,Petrol,"₹4,26,000",Chennai
2,Maruti,"[Zen, Estilo]",2013,Manual,"80,177 km",2nd Owner,Petrol,"₹2,41,000",Chennai
3,Hyundai,[i10],2015,Manual,"71,769 km",2nd Owner,Petrol,"₹3,73,000",Chennai
4,Volkswagen,[Vento],2015,Automatic,"61,978 km",3rd Owner,Petrol,"₹5,47,000",Chennai
...,...,...,...,...,...,...,...,...,...
465,Datsun,"[Redi, Go]",2020,Manual,"44,711 km",1st Owner,Petrol,"₹3,35,000",Chennai
466,Maruti,[Baleno],2020,Automatic,"14,107 km",1st Owner,Petrol,"₹7,15,000",Chennai
467,Volkswagen,[Polo],2020,Manual,"34,381 km",2nd Owner,Petrol,"₹5,90,000",Chennai
468,Maruti,"[Swift, Dzire]",2015,Manual,"70,858 km",1st Owner,Diesel,"₹6,59,000",Chennai
469,Hyundai,"[Grand, i10]",2014,Manual,"48,424 km",2nd Owner,Petrol,"₹4,16,000",Chennai

In [19]:
chen_data.to_csv('chennai_cars')

# changing location to chennai and scraping data

In [20]:
#clicking on drop down menu
pune_loc=driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/header/div/div[1]/div[2]/p')
pune_loc.click()

In [21]:
pune_loc=driver.find_element(By.XPATH,'/html/body/div[1]/div[6]/div/div/div/div/div[2]/ul/li[8]')
pune_loc.click()

In [22]:
brand_pune=[]
model_pune=[]
year_pune=[]
transmission_pune=[]
km_pune=[]
owner_pune=[]
fuel_pune=[]
price_pune=[]



try:
    description=driver.find_elements(By.XPATH,'//h3[@class="_3FpCg"]')
    for i in description:
        brand_pune.append(i.text.split()[1])
        year_pune.append(i.text.split()[0])
        model_pune.append(i.text.split()[2:])
except NoSuchElementException:
    brand_pune.append('-')


try:
    description=driver.find_elements(By.XPATH,'//p[@class="cvakB"]/span[1]')
    for i in description:
        transmission_pune.append(i.text)
        
except NoSuchElementException:
    transmission_pune.append('-')


try:
    description=driver.find_elements(By.XPATH,'//ul[@class="bVR0c"]/li[1]')
    for i in description:
        km_pune.append(i.text)
            
except NoSuchElementException:
    km_pune.append('-')    
    

try:
    description=driver.find_elements(By.XPATH,'//ul[@class="bVR0c"]/li[2]')
    for i in description:
        owner_pune.append(i.text)
            
except NoSuchElementException:
    owner_pune.append('-')


try:
    description=driver.find_elements(By.XPATH,'//ul[@class="bVR0c"]/li[3]')
    for i in description:
        fuel_pune.append(i.text)
            
except NoSuchElementException:
    fuel_pune.append('-')  
    

try:
    description=driver.find_elements(By.XPATH,'//div[@class="_7udZZ"]')
    for i in description:
        price_pune.append(i.text)
            
except NoSuchElementException:
    price_pune.append('-')

In [23]:
print(len(brand_pune))
print(len(model_pune))
print(len(year_pune))
print(len(transmission_pune))
print(len(km_pune))
print(len(owner_pune))
print(len(fuel_pune))
print(len(price_pune))

621
621
621
621
621
621
621
621

In [24]:
location_pune=[]
try:
    description=driver.find_elements(By.XPATH,'//ul[@class="_3oLON"]/li[3]')
    for i in description:
        location_pune.append(i.text)
            
except NoSuchElementException:
    location_pune.append('-')

In [25]:
pune_location=location_pune*621
len(pune_location)

621

In [26]:
pune_data=pd.DataFrame({'brand':brand_pune,'model':model_pune,'year':year_pune,'transmission':transmission_pune,'kms_driven':km_pune,
                        'owner':owner_pune,'fuel_type':fuel_pune,'price':price_pune,'location':pune_location})
pune_data

,brand,model,year,transmission,kms_driven,owner,fuel_type,price,location
0,Maruti,"[Alto, 800]",2018,Manual,"22,591 km",1st Owner,Petrol,"₹3,13,000",Pune
1,Hyundai,[i10],2014,,"57,082 km",2nd Owner,Petrol,"₹3,19,300",Pune
2,Mahindra,[TUV300],2016,Manual,"59,209 km",2nd Owner,Diesel,"₹6,26,000",Pune
3,Hyundai,[Eon],2013,Manual,"84,402 km",2nd Owner,Petrol,"₹2,66,000",Pune
4,Skoda,[Rapid],2016,Automatic,"59,349 km",2nd Owner,Diesel,"₹6,84,000",Pune
...,...,...,...,...,...,...,...,...,...
616,Maruti,"[Swift, Dzire]",2016,,"43,659 km",1st Owner,Petrol,"₹5,54,000",Pune
617,Maruti,"[Wagon, R, 1.0]",2016,Manual,"24,168 km",1st Owner,Petrol,"₹4,15,000",Pune
618,Maruti,[Swift],2015,Manual,"61,768 km",1st Owner,Petrol,"₹5,14,000",Pune
619,Maruti,"[Wagon, R, 1.0]",2015,Manual,"67,853 km",1st Owner,CNG,"₹3,57,000",Pune
620,Renault,[Kwid],2016,Manual,"49,015 km",1st Owner,Petrol,"₹3,32,000",Pune

In [27]:
pune_data.to_csv('pune_cars')

In [34]:
df1=pd.read_csv('delhi_cars')
df2=pd.read_csv('mumbai_cars')
df3=pd.read_csv('bangalore_cars')
df4=pd.read_csv('hyderabad_cars')
df5=pd.read_csv('ahmedabad_cars')
df6=pd.read_csv('gurgaon_cars')
df7=pd.read_csv('chennai_cars')
df8=pd.read_csv('pune_cars')

In [35]:
#concating dataframes
df=[df1,df2,df3,df4,df5,df6,df6,df7,df8] #saving dataframe 
data=pd.concat(df)

In [36]:
data

,Unnamed: 0,brand,model,year,transmission,kms_driven,owner,fuel_type,price,location
0,0,Maruti,['Swift'],2020,Manual,"22,826 km",1st Owner,Petrol,"₹5,22,000",New Delhi
1,1,KIA,['SELTOS'],2020,Manual,"5,999 km",1st Owner,Petrol,"₹17,22,000",New Delhi
2,2,Maruti,['Swift'],2020,Manual,"16,691 km",2nd Owner,Petrol,"₹5,30,000",New Delhi
3,3,KIA,['SELTOS'],2020,Automatic,"9,417 km",1st Owner,Petrol,"₹16,81,000",New Delhi
4,4,Hyundai,"['Grand', 'i10']",2019,Manual,"19,964 km",1st Owner,Petrol,"₹5,03,000",New Delhi
...,...,...,...,...,...,...,...,...,...,...
616,616,Maruti,"['Swift', 'Dzire']",2016,NaN,"43,659 km",1st Owner,Petrol,"₹5,54,000",Pune
617,617,Maruti,"['Wagon', 'R', '1.0']",2016,Manual,"24,168 km",1st Owner,Petrol,"₹4,15,000",Pune
618,618,Maruti,['Swift'],2015,Manual,"61,768 km",1st Owner,Petrol,"₹5,14,000",Pune
619,619,Maruti,"['Wagon', 'R', '1.0']",2015,Manual,"67,853 km",1st Owner,CNG,"₹3,57,000",Pune
620,620,Renault,['Kwid'],2016,Manual,"49,015 km",1st Owner,Petrol,"₹3,32,000",Pune

In [37]:
data.to_csv('cars24_data')

In [38]:
data.to_excel('cars24_data.xlsx')

In [41]:
driver.close()